.write{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #444;
}

.writeForm{
    position: relative;
}

.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
    background-color: #444;
}

.writeIcon{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}

.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
    background-color: #444;
    color: whitesmoke;
}

.writeInput:focus{
    outline: none;
}

.writeText{
    font-size: 20px;
    height: 70vh;
}

.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.writeImg{
    margin-left: 10vw;
    width: 70vw;
    height: 65vh;
    border-radius: 10px;
    object-fit: contain;
}
.writeFormCategory{
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-select{
    padding-right: 15px;
}
